/* VARIABLES */

:root {
	--color-green-dark: 72, 106, 82;
	--color-green-medium: 102, 213, 153;
	--color-green-light: 0, 0, 0; /* ?? */
	--color-green-lighter: 225, 234, 228;
}


/* RESET */

* {
	margin: 0;
	padding: 0;
}


/* GLOBAL */

body {
	background: rgb(var(--color-green-lighter));
	color: rgb(var(--color-green-dark));
}

hr {
	margin: auto;
	width: 100%;
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right,
		rgba(var(--color-green-dark), 0),
		rgba(var(--color-green-dark), 0.75),
		rgba(var(--color-green-dark), 0));
}


/* HEADER */

header > .container > .row {
	padding: 25px 0px;
}

header > .container > .row > .titles {
  text-align: center;
}

header > .container > .row > .titles > h2 {
	font-size: 3rem;
}

header > .container > .row > .titles > h3 {
	font-size: 1.5rem;
	font-weight: normal;
}

header > .container > .row > .contact {
  text-align: right;
}


/* MAIN */

main {
	padding: 25px;
  text-align: center;
}

main > .container > h1 {
	margin: 25px 0px;
}

main > .container > img {
	width: 100%;
}


/* FOOTER */

footer {
  text-align: center;
	margin-top: 20px;
}

footer > .container > p {
	font-size: 1rem;
	margin: 0;
	padding: 10px;
}

footer > .container > p > small {
	font-size: 0.7rem;
}

footer > .container > p > small > em {
	color: rgb(var(--color-green-medium));
	font-style: normal;
}
